---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true 
SpacesBeforeTrailingComments: 1
PointerAlignment: Left
